{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block imports %}
<link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- <form action="/" method="post">
  <label>What do you want to know about?
    <input type="text" name="idea" placeholder="I'm curious about..." />
  </label>
</form> -->
<div>
  <h3>Available Maps:</h3>
  <ul>
    {% for map in maps %}
    <li><a href="maps/{{ map }}">{{ map }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
