<html>
    <head>
        <style> body { margin: 0; } </style>
      
        <script src="//unpkg.com/3d-force-graph"></script>
      </head>
      
      <body>
        <div id="3d-graph"></div>
      
        <script>
          const distance = 1800;
          const Graph = ForceGraph3D()
            (document.getElementById('3d-graph'))
              .jsonUrl("{{ url_for('static', path='data/{}.json'.format(file_name)) }}")  
              .nodeLabel('id')
              .nodeAutoColorBy('group')
              .onNodeClick(node => window.open(`https://en.wikipedia.org/wiki/${node.id}`, '_blank'))
              .cameraPosition({ z: distance });

              // camera orbit
              let angle = 0;
              setInterval(() => {
                Graph.cameraPosition({
                  x: distance * Math.sin(angle),
                  z: distance * Math.cos(angle)
                });
                angle += Math.PI / 300;
              }, 10);
        </script>
      </body>
  </html>